@font-face {
  font-family: 'MyFont';
  src: url('./ionicons.ttf') format('ttf'),
       url('./ionicons.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: Myfont;
  background: url(./nice.png);
}